/*-- scss:defaults --*/
// Customize variables for dark mode
$dark-bg-text-color: #f5f7f8;
$dark-bg-link-color: #4dcbb3;
$dark-bg-code-color: #ffa07a;

/*-- scss:rules --*/
// Custom manual rule for navbar background
html[data-bs-theme='dark'] .navbar {
  background-color: #63a4bc;

  .navbar-brand,
  .nav-link {
    color: $dark-bg-text-color;

    &:hover {
      color: $dark-bg-link-color;
    }
  }
}
