/*-- scss:defaults --*/
// Dark mode specific variables
$navbar-bg: #63a4bc;         // Light mode navbar background
$navbar-color: #ffffff;       // Light mode navbar text color
$navbar-hover-color: #4dcbb3; // Light mode hover color

$navbar-dark-bg: #63a4bc;     // Dark mode navbar background
$navbar-dark-color: #ffffff;  // Dark mode navbar text color
$navbar-dark-hover-color: #4dcbb3; // Dark mode hover color
/*-- scss:rules --*/

// Navbar flex
.quarto-color-scheme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quarto-color-scheme-toggle > i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: rgba(255, 255, 0, 0.838);
  mask-image: url('https://unpkg.com/heroicons@2.2.0/24/outline/sun.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('https://unpkg.com/heroicons@2.2.0/24/outline/sun.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  text-indent: -9999px;
  transition: opacity 0.5s ease;
}
